# Database
DATABASE_URL="postgresql://postgres.[project-ref]:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true" # replicated in packages/database/.env for Prisma.
DIRECT_URL="postgresql://postgres.[project-ref]:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres" # replicated in packages/database/.env for Prisma.

# JWT
JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=24h

# App URLs
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_WEB_URL=http://localhost:3000